<!-- /snippets/comment.liquid -->
<div class="comment-sec">
  <div class="comment__meta">
    <span class="comment_author">{{ comment.author }}</span>
    <span class="comment__meta-item">{{
      comment.created_at | time_tag: format:"date"
    }}</span>
  </div>
  <div class="comment__content rte">
    {{ comment.content }}
  </div>
</div>
