<section class="filter">
  <div class="filter__br filter__br--first"></div>
  <div class="filter__section">
    <h4 class="filter__title">SIZE</h4>
    {%- comment -%}ITEMS{%- endcomment -%}
  </div>
  <div class="filter__br"></div>
  <div class="filter__section">
    <h4 class="filter__title">PRICE</h4>
    {%- comment -%}ITEMS{%- endcomment -%}
  </div>
</section>