<section class="filter">
  <div class="filter__br filter__br--first"></div>
  <div class="filter__section">
    <h4 class="filter__title">BRANDS</h4>
    {% for v in shop.vendors %}
      <div class="filter__row">
        <span class="filter__row-span">
          <a href="{{ shop.url }}/collections/{{ v | handleize }}">{{ v | downcase }}</a>
      </span>
      </div>
    {% endfor %}
  </div>
  <div class="filter__br"></div>
  <div class="filter__section">
    <h4 class="filter__title">CATEGORIES</h4>
    {% for tag in collection.all_tags %}
      <div class="filter__row">
        <span class="filter__row-span">
          {{ tag | link_to_tag: tag }}
        </span>
      </div>
    {% endfor %}
  </div>
</section>