<li class="menu-link header-nav-menu-link hover" id="header-nav-menu-link-1" title="new">
    new <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <div id="header-jumbo-menu-1" class="header-jumbo-menu">
            <div class="container-lg">
                <div class="row d-flex justify-content-around header-jumbo__pad full_width">
                    <div class="col">
                        <ul class="jumbo-menu-items">
                            <li class="jumbo-menu-heading jumbo-menu-item">
                                <a class="jumbo-menu-link uppercase">New in</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in women</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in men</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in plus+curve</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in kids</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in beauty</a>
                            </li>
                            <li class="jumbo-menu-item">
                                <a class="jumbo-menu-link" href="#">New in collections</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <div class="jumbo-menu-img d-flex flex-row justify-content-around">
                            <div>
                                <img src={{'Jeans.jpg' | asset_url}} alt="new jeans" style="width: 200px;" />
                              
                            </div>
                            <div  class="collapse-img">
                                <img src={{'Jumpsuit.jpg' | asset_url}} alt="new jumpsuit" style="width: 200px;" />
                                
                            </div>
                            <div  class="collapse-img collapse-img-primary">
                                <img src={{'Jumpsuit.jpg' | asset_url}} alt="new purple dress" style="width: 200px;" />
                               
                            </div>                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
</li>