<div class="blog-page">
  <div class="article-img  {%if section.settings.image_alignment%} container {%endif%}">
    {% if article.image %} {%- assign img_url = article.image | img_url: '1x1' |
    replace: '_1x1.', '_{width}x.' -%}
    <img
      alt="fashion"
      class="card__img  "
      src="{{ article.image | img_url: '1464x976' }}"
    />
    {%endif%}
  </div>
  <div class="blog-page__container container">
    <div class="blog-page__row row">
      <div class="blog-page__col col-sm-12">
        <div class="blog-page__content">
          <span class="date"> {{ article.date }}</span>
          <h1 class="title">{{ article.title }}</h1>
          <p class="content">
            {{ article.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Article",
    "class": "section-article",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "image_alignment",
        "default": false,
        "label": "image contained-centered"
       
      }
      
    ]
    
  }
{% endschema %}
