<div class="blog">
    <div class="blog__header-wrapper">
        <header class="blog__header">
            <span>Blog</span>
        </header>
    </div>

    <div class="cards-wrapper">
        <div class="cards container">
            <div class="row flex-column left-column">

                <div class="recent">
                    <h4>RECENT ARTICLES</h4>

                    <a href="/blogpage">
                        Outfit of the day</a>


                    <a href="/blogPage">Clothing Paradise</a>


                    <a href="/blogpage">Style beyond Imagination</a>

                </div>
                <div class="tags">
                    <h4>Tags</h4>
                    <Link href="#">
                        <a>Awesome</a>
                    </Link>
                    <Link href="#">
                        <a>Summer</a>
                    </Link>
                    <Link href="#">
                        <a>Winter</a>
                    </Link>
                    <Link href="#">
                        <a>Vintage</a>
                    </Link>
                </div>
            </div>

            <div class="cards__row row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="fashion" class="card__img" src="/img/hair.jpg"/>
                        <span class="card__date">06 FEB, 2021</span>
                        <h1 class="card__title">Clothing Paradise</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...

                            <a href="/blogPage">
                                Read More
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="dark hair" class="card__img" src="/img/fashion.jpg"/>
                        <span class="card__date">10 JUN, 2021</span>
                        <h1 class="card__title">Outfit of the day</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...{" "}

                            <a href="/blogPage">
                                Read More
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="young female" class="card__img" src="/img/young-female.jpg"/>
                        <span class="card__date">10 NOV, 2020</span>
                        <h1 class="card__title">Brands You Should Know</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...{" "}
                            <a href="/blogPage">
                                Read More
                                <IoMdArrowForward/>{" "}
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="fashion" class="card__img" src="/img/group.jpg"/>
                        <span class="card__date">23 DEC, 2020</span>
                        <h1 class="card__title">Style beyond Imagination</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...{" "}

                            <a href="/blogPage">
                                Read More
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="dark hair" class="card__img" src="/img/dark.jpg"/>
                        <span class="card__date">29 DEC, 2020</span>
                        <h1 class="card__title">Glam Life</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...{" "}

                            <a href="/blogPage">
                                Read More
                            </a>

                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img alt="warm weather" class="card__img" src="/img/warm-weather.jpg"/>
                        <span class="card__date">29 JUL, 2020</span>
                        <h1 class="card__title">Warm Weather Collection</h1>
                        <p class="card__content">
                            eiusmod tempor incididunt ut labore et dolore Lorem
                                            ipsumadipisicing elit, sed do magna aliqua dolor sit amet
                                            conse ctetur...{" "}

                            <a href="/blogPage">
                                Read More
                            </a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__pagination container">
            <hr/>
            <ul>

                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>

            </ul>
            <hr/>
        </div>
    </div>
</div>
