<div class="page-width">
    <header class="section-header text-center">
      <h1>{{ page_title }}</h1>
    </header>

<div className="contact__wrapper container-fluid">
    <h1 className="contact__heading">Reach out to us...</h1>
    <h2 className="contact__subHeading">We're <strong>never </strong>too far away</h2>
</div>
<div className="contact__content container" >
    <section className="row col-md-12">
        <div className="contact__contentJoin col-md col-lg-6">
            <h2 className="contact__contentJoinH2">Happiness needs company, tell your friends!</h2>
            <h4 className="contact__contentJoinH4">Become an affiliate!</h4>
            <a href="#"><button className="contact__contentJoinButton ">Learn How</button></a>
        </div>
        <div className="col-md col-lg-6">
            <img className="col contact__img" src="/img/happyshopper.jpg"/>
        </div>
    </section>
</div>