<div class="contact__wrapper container-fluid">
    <h1 class="contact__heading">Reach out to us...</h1>
    <h2 class="contact__subHeading">We're <strong>never </strong>too far away</h2>
</div>
<div class="contact__content container" >
    <section class="row col-md-12">
        <div class="contact__contentJoin col-md col-lg-6">
            <h2 class="contact__contentJoinH2">Happiness needs company, tell your friends!</h2>
            <h4 class="contact__contentJoinH4">Become an affiliate!</h4>
            <button class="contact__contentJoinButton ">Learn How</button>
        </div>
        <div class="col-md col-lg-6">
            <img class="col contact__img" src="{{ 'happyshopper.jpg' | asset_img_url: '300x' }}">
        </div>
    </section>
    <h1 class="contact__formTitle">How are we doing?</h1>
    <section class="contact__form row col-md-12">
    <form class="col-lg-6 col-md">
        <fieldset>
            <legend>Let us know</legend>
            <div class="contact__formGroup">
                <label for="f-name">First Name: <abbr title="First name is required." aria-label="required">*</abbr></label>
                <input class="contact__formInput col" id="f-name" type="text" placeholder="First Name"></input>
            </div>
            <div class="contact__formGroup">
                <label for="l-name">Last Name: <abbr title="Last name is required." aria-label="required">*</abbr></label>
                <input class="contact__formInput col" id="l-name" type="text" placeholder="Last Name"></input>
            </div>
            <div class="contact__formGroup">
                <label for="email">Email: <abbr title="An email is required." aria-label="required">*</abbr></label>
                <input class="contact__formInput col" id="email" type="email" placeholder="Email"></input>
            </div>
            <div class="contact__formGroup">
                <label for="country">Country: <abbr title="required" aria-label="required">*</abbr></label>
                <input class="contact__formInput col" id="country" type="text" placeholder="Country"></input>
            </div>
            <div class="contact__formGroup">
                <label for="comment">Comment: <abbr title="A comment is required." aria-label="required">*</abbr></label>
                <textarea class="contact__formInputCom col" id="comment" type="text" placeholder="Comments"></textarea>
            </div>	
            <button class="col-lg- col-md contact__formButton">Submit</button>
        </fieldset>
        </form>
        <div class="contact__formCustomer col-lg-6 col-md">
            <h3>Our customers always come first, feel free to let us know how we are 
                doing so we can best serve you.</h3>
        </div>			
    </section>
</div>
</section>