
        <main class="container affiliate">
            <section class="affiliate__offer row col-md-12">
                <div class="affiliate__offerImage col-md-6">
                    <div class="affiliate__offerText row">
                        <h3>Earn</h3>
                        <h2><span>20%</span>Commissions</h2>
                    </div>
                </div>
                <div class="affiliate__heading col-md-6">
                    <h1>Earning is as simple as sharing a link.</h1>
                </div>

            </section>
            <section class="affiliate__description">
                <h1>Simply the best way.</h1>
                <div class="row col-md-12">
                <h2 class="affiliate__descriptionSub1 col col-md-4">No inventory to manage.
                    <p class="col">This is definitely the best option if you really want to make some amazing money.</p>
                </h2>
                <h2 class="affiliate__descriptionSub2 col col-md-4">No sales to make, ever.
                    <p class="col">This is definitely the best option if you really want to make some amazing money.</p></h2>
                <h2 class="affiliate__descriptionSub3 col col-md-4">Share a link, we do the rest.
                    <p class="col">This is definitely the best option if you really want to make some amazing money.</p></h2>
                </div>
              
            
            </section>
            <section class="affiliate__choices ">
                
            </section>
            
        </main>
